<div class="container">
  <h3 class="gallery-title">Галерея</h3>
  <div class="preloader"></div>
  <div class="error">Ошибка получения данных</div>
  <div class="pages-nav">
    <button class="previous-button"><</button>
    <div class="page-number">1</div>
    <button class="next-button">></button>
  </div>
  <ul class="gallery-ul"></ul>
</div>
<script src="assets/js/gallery.js"></script>
