<nav id="main-nav">
  <ul>
    <li class="item">
      <a href="/index">Главная страница</a>
    </li>
    <li class="item">
      <a href="/page">Услуги</a>
    </li>
    <li class="item">
      <a href="/gallery">Галерея цветов</a>
    </li>
    <li class="item">
      <a href="/reviews">Отзывы</a>
    </li>
<!--    <div id="item-login" style="display: none">-->
<!--    <li class="item">-->
<!--      <a href="/cart">Корзина</a>-->
<!--    </li>-->
<!--    <li class="item">-->
<!--      <a href="/reviews">Мои бронирования</a>-->
<!--    </li>-->
<!--    </div>-->
  </ul>
</nav>


