<head>
  <meta charset="UTF-8">
  <meta name="description" content="Сайт фото-портфолио для web-программирования ">
  <meta name="keywords" content="сайт, фото, портфолио">
  <title> Сайт - портфолио </title>
  <link rel="stylesheet" href="assets/css/style.css">
  <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="assets/js/swiper.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/script.js"></script>
  <script src="assets/js/timeLoader.js"></script>
  <script src="assets/js/auth.js"></script>
  <script src="assets/js/loginForm.js"></script>
  <script src="assets/js/comments.js"></script>


</head>